body {
	font-family: 'Roboto', sans-serif;
	/*font-size: 50px;*/
}
/*------------------------------------------------header-------------------------------------*/
#ayuda {
	color:#B23B39;
	float: right;
	margin-top: 1px;
	size: 30px;
}
#inicio:hover,
#ayuda:hover {
	color:#FFFFFF;
}
#inicio {
	margin: 15px;
	padding-right: 25px;
	float: right;
	color: #B23B39;
	border-right: 1px solid #B23B39;
}
#nombreusuario:hover {
	color:#FFFFFF;
}
#nombreusuario {
	margin: 15px;
	padding-right: 0px;
	float: right;
	color: #B23B39;
	/*margin-top: 17px;*/
	/*border-right: 1px solid #B23B39;*/
}

#navegacion-fm {
	float: right;
	/*width: 1000px;*/
}
.navbar {
	margin-bottom: 0px;
	border-bottom: 0px;
	background: #FF5050;
}
.navbar-header .navbar-brand {
	font-size: 30px;
	color: #B23B39;
}
#barra-busqueda {
	width: 200px;
	margin-left: 300px;
}

#barra-busqueda:hover,
#barra-busqueda:active,
#barra-busqueda:focus {
	border-color: #B23B39;
}
.btn-primary {
	background: #FFFFFF;
	color: #8B8F94;
	border: 1px;
	border-color: #ccc; /* #8B8F94;*/
	border-style: solid;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
	background: #B23B39;
	border-color: #B23B39;
}
/* -------------------------------------------------jumbotron---------------------------------------------*/
.jumbotron {
	background: #FFFFFF; /*#EA6C68;*/
	color: #8B8F94; /*#B23B39;*/
	padding: 20px 0px;
}
.jumbotron .imagen-jumbotron {
	width: 214px;
	height: 214px;
	float: left;
}
#bienvenida {
	text-align: center; 
}
#desc-bienvenida {
	text-align: center; 
	font-size: 30px;
}
/*---------------------------------------------------seccion---------------------------------------------------*/
#seccion {
	/*background: #E9E9E9;*/
	color: #8B8F94;
}
#divseccion {
	width: 1600px;
	/*margin: 0px 100px 0px 100px;*/
	/*height: 800px;*/
	padding: 50px;
}

#migaja {
	color: #000000;
}

/*#divseccion .input-group {
	width: 20px;
}*/

/*.input-group .form-control input {
  position: relative;
  z-index: 2;
  float: left;
  width: 50%;
  margin-bottom: 0;
}*/

#registro-form {
	width: 600px;
	/*margin-left: 450px;*/
	text-align: center;
}

#spanRegistro {
	font-size: 20px;
	margin-bottom: 15px; /*no me da bola este margen*/
	color: #000000;
}

#basic-addon1 {
	height: 30px;
}

#divseccion .form-control {
	height: 40px;
}

#btn-registro,
#btn-registro-cancelar {
	height: 40px;
	width: 250px;
}

#btn-registro2 {
	height: 30px;
	width: 125px;
}

.form-inline .form-group {
	margin: 5px 15px 5px 15px;
}

#registro-form input{
 	margin-top: 1px;

}

#btn-registro-cancelar {
	background: #FF5050;
	color: #FFFFFF;
	border: 1px;
	border-color: #ccc;
	border-style: solid;
	padding-top: 10px;
}
#btn-registro-cancelar:hover,
#btn-registro-cancelar:active,
#btn-registro-cancelar:focus {
	background: #B23B39;
	border-color: #B23B39;
}
#divseccion .btn-primary:hover,
#divseccion .btn-primary:active,
#divseccion .btn-primary:focus {
	background: #B23B39;
	border-color: #B23B39;
}


/*---------------------------------------------categorias y filtros------------------------------------------------*/
#cat-fil {
	float: left;
}

#categorias {
	width: 200px;
	height: 300px;
	border: 2px solid #8B8F94;
	padding: 10px;
	margin: 10px;
	margin-left: 0px;
	background: #FFFFFF;

}
#filtros {
	width: 200px;
	height: 200px;
	border: 2px solid #8B8F94;
	padding: 10px;
	margin: 10px;
	margin-left: 0px;	
	background: #FFFFFF;
}
/*---------------------------------------------------publicaciones---------------------------------------------*/
#publicaciones {
	width: 1200px;
	height: 550px;
	/*text-align: center;*/
	float: left;
	border: 1px solid #FFFFFF;
	padding: 10px;
	margin: 10px;
	margin-left: 0px;	
	/*background: #FFFFFF;*/
}


/*--------------------------------------------------footer---------------------------------------------------------*/
#foot {
	font-size: 15px;
	/*background: #EA6C68;*/
	background: #FF5050;
	color: #B23B39;
	padding: 20px;
	height: 125px;
}

#creds {
	float: right;
	margin-bottom: 50px;
}

#foot span {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 20px;
}

#foot #contacto {
	margin-left: 60px;
}

/*#correo {
	margin: 10px;
	padding: 10px;
	float: left;
}*/

#paginacion {
	color: #B23B39;
}
#paginacion:active,
#paginacion:hover,
#paginacion:focus,
#paginacionActiva:active,
#paginacionActiva:hover,
#paginacionActiva:focus
 {
	color: #FFFFFF;
	background: #B23B39;
	border-color: #B23B39;
}
#paginacionActiva {
	color: #FFFFFF;
	background: #FF5050;
	border-color: #FF5050;
}

#btn-ofertar {
	background: #FF5050;
	color: #FFFFFF;
	border: 1px;
	border-color: #ccc;
	border-style: solid;
}
#btn-ofertar:hover,
#btn-ofertar:active,
#btn-ofertar:focus {
	background: #B23B39;
	border-color: #B23B39;
}
a {
	color: #000000;
}

#filtroActivo {
	background-color: #FF5050;
  	border-color: #FF5050; 
}

#navegacion-fm {
	float: right;
	width: 1000px;
}
#barra-busqueda {
	width: 200px;
	margin-left: 350px;
}

#respuesta {
	/*margin-left: 50px;*/
	background-color: #F68080;  /*#E6E6E6;*/
	/*margin-bottom: 10px;*/
	border-left: 1px solid #D8D5D5;  /*FF5050   802020*/
	border-right: 1px solid #D8D5D5;
	border-bottom: 1px solid #D8D5D5;
	border-top: 1px solid #ddd;
}
#pregunta {
	/*margin-left: 50px;*/
	/*background-color: #E6E6E6;*/
	margin-top: 10px;
	border: 1px solid #D8D5D5;
	/*border-bottom: 1px solid #ddd;*/
}

div#tituloSub.form-group {
	color: #B23B39;
	font-size: 40px;
	/*margin-top: 0px;*/
	/*padding-top: 0px;*/
}
section#infoSubas.posts.col-md-6{
	margin-top: 10px;
}